<link href='<%= asset_url("css/bootstrap.min.css") %>' rel="stylesheet" type="text/css">
<link href='<%= asset_url("css/font-awesome.min.css") %>' rel="stylesheet">
<link href='<%= asset_url("css/style-273.css") %>' rel="stylesheet">
<link rel="shortcut icon" href="#">
<link href='<%= asset_url("css2/stylesLD.css") %>' rel="stylesheet" type="text/css">


<%= form_with(model: benefit, local: true) do |form| %>
  <% if benefit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(benefit.errors.count, "error") %> prohibited this benefit from being saved:</h2>

      <ul>
      <% benefit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">

    <div class="content"> 

      <div class="ui-273">

        <div align="center" style="box-shadow:0px 0px 15px rgba(0,0,0,0.1);">


            <div class="field">
              <%= form.label :nombre, "Nombre Beneficio" %>
              <br>
              <%= form.text_field :nombre, id: :benefit_nombre %>
              <br>
            </div>

            <div class="field">
            <%= form.label :areabenefit_id, "Area Beneficio" %>
            <br>
            <%# form.collection_select(:areabenefit_id, Areabenefit.all, :id, :nombre) %>
            <%= form.collection_select :areabenefit_id, Areabenefit.where(is_active: true), :id, :nombre, include_blank: true %>


            <br>
            </div>


            <div class="field">
              <%= form.label :costotrabajador %>
              <br>
              <%= form.number_field :costotrabajador, id: :benefit_costotrabajador %>
              <br>
            </div>

            <div class="field">
              <%= form.label :costoempresa %>
              <br>
              <%= form.number_field :costoempresa, id: :benefit_costoempresa %>
              <br>
            </div>

            <div class="field">
              <%= form.label :familia, "Aplica para familia?" %>
              <br>
              <%= form.check_box :familia, id: :benefit_familia %>
              <br>
            </div>

            <div class="field">
              <%= form.label :asistencia, "Requiere asistencia?" %>
              <br>
              <%= form.check_box :asistencia, id: :benefit_asistencia %>
              <br>
            </div>

            <div class="actions">
              <%= form.submit "Guardar", :class => "btn btn-green btn-lg btn-block" %>
            </div>


        </div>

      </div>


    </div><!-- end .content -->


  </div><!-- end .container -->

       


<% end %>