<%= form_for (@asformulary), url: new_asformulary_path, method: "get" do |f| %>
  <%= f.text_field :rut_atendido %>
  <%= f.submit "check", name: "check" %>
<% end %>

<%= form_with(model: asformulary, local: true) do |form| %>
  <% if asformulary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(asformulary.errors.count, "error") %> prohibited this asformulary from being saved:</h2>

      <ul>
      <% asformulary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
<div class="sidebar1">
  <div align="left">
 
  <div class="field">
    <%= form.label :rut_atendido, 'Rut Trabajador' %>
    <%= form.text_field :rut_atendido, id: :asformulary_rut_atendido %>
  </div>
 

  <div class="field">
    <%= form.label :codigo_obra %>
    <%= form.text_field :codigo_obra, id: :asformulary_codigo_obra %>
  </div>
      


  <div class="field">
    <%= form.label :telefono %>
    <%= form.number_field :telefono, id: :asformulary_telefono %>
  </div>
      

  <div class="field">
    <%= form.label :Asistente_Social %>
    <%= form.collection_select :user_id, User.all, :id, :name, include_blank: true %>
  </div>
      

  <div class="field">
    <%= form.label :nombre_atendido, 'Nombre Trabajador' %>
    <%= form.text_field :nombre_atendido, id: :asformulary_nombre_atendido %>
  </div>

  <div class="field">
    <%= form.label :apellido_paterno %>
    <%= form.text_field :apellido_paterno, id: :asformulary_apellido_paterno %>
  </div>

  <div class="field">
    <%= form.label :apellido_materno %>
    <%= form.text_field :apellido_materno, id: :asformulary_apellido_materno %>
  </div>

  <div class="field">
    
    <%= form.label :Tipo_Consulta %><br>
    <%= form.collection_select :aspcategory_id, Aspcategory.all, :id, :nombre, include_blank: true %>

  </div>


  <div class="field">
    <%= form.label :estado, 'Caso cerrado?' %>
    <%= form.check_box :estado, id: :asformulary_estado %>
  </div>

  <div class="field">
    <%= form.label :subcontrato %>
    <%= form.check_box :subcontrato, id: :asformulary_subcontrato %>
  </div>

  <div class="field">
    <%= form.label :nombre_supervisor %>
    <%= form.text_field :nombre_supervisor, id: :asformulary_nombre_supervisor %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion, id: :asformulary_descripcion %>
  </div>

  <div class="field">
    <%= form.label :solucion %>
    <%= form.text_field :solucion, id: :asformulary_solucion %>
  </div>

   <div class="field">
    
    <%= form.label :Beneficio_Asociado %><br>
    <%= form.collection_select :benefit_id, Benefit.all, :id, :nombre, include_blank: true %>

  </div>

  <div class="actions">
    <%= form.submit "Ingresar AS"%>
  </div>
</div>
    <!-- end .sidebar1 --></div>

<% end %>
