<%= form_for (@asformulary), url: new_asformulary_path, method: "get" do |f| %>
  <%= f.label "Verificar trabajador  - Ingrese RUT" %>
  <%= f.text_field :rut_atendido , placeholder: "13832057-K"%>
  <%= f.submit "check", name: "check", :class => 'btn btn-green' %>
<% end %>


<br>
<br>
<%= form_with(model: asformulary, local: true, id: "form_params" ) do |form| %>
  <% if asformulary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(asformulary.errors.count, "errores") %> No permiten guardar este formulario:</h2>

      <ul>
      <% asformulary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    </div>
  <% end %>

  

  <div class="field">


<% if params[:asformulary] && params[:asformulary][:rut_atendido] %>
    
<%= form.label :nombre_atendido, 'Nombre Completo Trabajador' %><br>

    <% if !@employee.nil?%>
    <% if @employee.empty? %>
    <%= form.text_field :nombre_atendido, id: :asformulary_nombre_atendido, placeholder: "QUEVEDO OLIVARES LUIS MIGUEL", :class => 'textForm' %><br>
    <% else %>
    <%= form.text_field :nombre_atendido, id: :asformulary_nombre_atendido, value: @employee[0].nombre, hidden: true %>
    <%= @employee[0].nombre %><br>

    <% end %>
    <% end %>

 <% else %>

    <%= form.label :nombre_atendido, 'Nombre trabajador' %>
    <%= form.text_field :nombre_atendido, id: :asformulary_rut_atendido, placeholder: "QUEVEDO OLIVARES LUIS MIGUEL", :class => 'textForm' %>


    
<%end%>

  </div>

 
  <div class="field">

 <% if params[:asformulary] && params[:asformulary][:rut_atendido] %>
    
    <%= form.label :rut_atendido, 'Rut Trabajador' %> <br>


    <% if !@employee.nil?%>
      <% if @employee.empty? %>
      <%= form.text_field :rut_atendido, id: :asformulary_rut_atendido, placeholder: "13832057-K", :class => 'textForm' %> <br>
      <% else %>
      <%= form.text_field :rut_atendido, id: :asformulary_rut_atendido, value: @employee[0].rut, hidden: true %> 
      <%= @employee[0].rut %><br>
      <% end %>

    <% end %>

 <% else %>


    <%= form.label :rut_atendido, 'Rut Trabajador' %> <br>
    <%= form.text_field :rut_atendido, id: :asformulary_rut_atendido, placeholder: "13832057-K", :class => 'textForm' %><br>


    
<%end%>

  </div>
 


  <div class="field">


<% if params[:asformulary] && params[:asformulary][:rut_atendido] %>

    <%= form.label :codigo_obra, 'Codigo Obra' %><br>
    <% if !@employee.nil?%>
    <% if @employee.empty? %>
    <%# form.text_field :codigo_obra, id: :asformulary_codigo_obra, :class => 'textForm' %>
    <%= form.collection_select :codigo_obra, Obra.all.order('id DESC'), :codigo, :nombre_codigo, {include_blank: true}, {style: "width:220px"} %><br>
    <% else %>
    <%= form.text_field :codigo_obra, id: :asformulary_codigo_obra, value: @employee[0].cencos, hidden: true %> 
    <% obraname = Obra.where(codigo: @employee[0].cencos)  %>
    <%= obraname[0].nombre %><br>

    <% end %>
    <% end %>
    
<% else %>
    <%= form.label :codigo_obra, 'Codigo Obra' %><br>
    <%= form.collection_select :codigo_obra, Obra.all.order('id DESC'), :codigo, :nombre_codigo, {include_blank: true}, {style: "width:220px"} %><br>
<%end%>

  </div>
      


  <div class="field">
    <%= form.label :telefono %>
    <br>
    <%= form.number_field :telefono, id: :asformulary_telefono, :class => 'textForm' %>
    <br>
  </div>
    
  

  

  <div class="field">
    
    <%= form.label :Tipo_Consulta %>
    <br>
    <%= form.collection_select :aspcategory_id, Aspcategory.where(is_active: true).order('nombre ASC'), :id, :nombre, {include_blank: true}, {style: "width:220px"} %>
    <br>

  </div>


  <div class="field">
    <%= form.label :estado, 'Caso cerrado?' %>
    <%= form.check_box :estado, id: :asformulary_estado %>
  </div>

  <div class="field">
    <%= form.label :subcontrato, 'subcontrato?' %>
    <%= form.check_box :subcontrato, id: :asformulary_subcontrato %>
  </div>

  <div class="field">
    <%= form.label :nombre_supervisor %>
    <br>
    <%= form.text_field :nombre_supervisor, id: :asformulary_nombre_supervisor, :class => 'textForm' %>
    <br>
  </div>

  <div class="field">
    <%= form.label :descripcion, 'Descripción' %>
    <br>
    <%= form.text_area :descripcion, id: :asformulary_descripcion, placeholder: "Descripción...", :class => 'textForm' %>
    <br>
  </div>

  

   <div class="field">
    
    <%# form.label :Beneficio_Asociado %>
    <br>
    <%# form.collection_select :benefit_id, Benefit.where(is_active: true), :id, :nombre, {include_blank: true}, {style: "width:220px"} %>
    <br>


    <div class="field">
        <%= form.label :areabenefit_id, "Area de beneficio" %><br>
        <%= form.collection_select(:areabenefit_id, Areabenefit.where(is_active: true).order('nombre ASC'), :id, :nombre, {:prompt => "Seleccione área de beneficio"},{:class => "areabenefit_selection", style: "width:220px"}) %>
      </div>
      <br>
      <div class="field">
        <%= form.label :benefit_id, "Beneficio" %><br>
        <%= form.collection_select(:benefit_id, Benefit.where(is_active: true).order('nombre ASC'), :id, :nombre, {:prompt => "Seleccione un beneficio"}, {:class => "contact_selection", style: "width:220px"}) %>
      </div>




  </div>

  <div class="field">
    <%= form.label :solucion, 'Solución' %>
    <br>
    <%= form.text_field :solucion, id: :asformulary_solucion, placeholder: "Solución...", :class => 'textForm' %>
    <br>
  </div>


 <i>*Complete toda la información antes de ir a "Asignar Préstamos" o "Asignar Beneficio"</i>


<div id="benefitbutton">
<%= render 'benefitbutton' %>
</div>


<div id="loanbutton">
<%= render 'loanbutton' %>
</div>


  <div class="actions">
    <%= form.submit "Guardar atención", :class => 'btn btn-green btn-lg btn-block'%>
  </div>


<script>
$(document).on("keyup", "#form_params", function(){
       $.get($("#form_params").attr("new_asformulary_path"), $("#form_params").serialize(), null, "script");
       return false;
   });


</script>


<% end %>


