<table> 

              <thead>
                <tr>
                  <th>Nombre trabajador</th>
                  <th>Rut atendido</th>
                  <th>Nombre de obra</th>
                  <th>Telefono</th>
                  <th>Asistente Social</th>
                  <th>Tipo Consulta</th>
                  <th>Solucion</th>
                  <th>Estado</th>
                 
                  <th>Subcontratista?</th>
          

                  <th>Descripcion</th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
              <%if params[:search] != "" %>
                <% @results.each do |x|%>
                  <tr>

                    <% oname = Obra.where(codigo: x.codigo_obra) %>

                    <td><%= x.nombre_atendido %></td>
                    <td><%= x.rut_atendido %></td>
                    <% if !oname[0].nil? %>
                    <td><%= oname[0].nombre %></td>
                    <% else %>
                    <td><%= x.codigo_obra %></td>
                    <% end %>
                    <td><%= x.telefono %></td>
                    <td><%# x.lyduser.email %></td>
                    <td><%= x.aspcategory.nombre %></td>
                    <td><%= x.solucion %></td>
                    <% if x.estado == true %>
                    <td><%="Cerrado"%></td>
                    <% else %>
                    <td><%= "Abierto"%></td>
                    <%end%>
                    <% if x.subcontrato == true %>
                    <td><%="SI"%></td>
                    <% else %>
                    <td><%= "NO"%></td>
                    <%end%>
                    
                    <td><%= x.descripcion %></td>
                    <%if can? :show, Asformulary %>
                    <td><%= link_to 'Mostrar', x %></td>
                    <%end%>
      
                    <td><%= link_to 'Agregar Familia', new_familiartrabajador_path(:rut_trabajador => x.rut_atendido ) %></td>
                  
                    <%if can? :destroy, Asformulary %>
                    <td><%= link_to 'Destroy', x, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <%end%>

                    </td>
                  </tr>
                <% end %>
              <%end %>
              </tbody>

              </table>