<p id="notice"><%= notice %></p>
<link href='<%= asset_url("css/bootstrap.min.css") %>' rel="stylesheet" type="text/css">
<link href='<%= asset_url("css/style-273.css") %>' rel="stylesheet">

<h1>Formularios de Atenci贸n Social</h1>

<button onclick="location.href='<%= new_asformulary_path %>'" type="button" class="button button1">Nueva Atenci贸n</button>
<br>
<br>
<br>

<div class="ui-302">

<div class="status-two">
          <div class="row">
            <div class="col-md-3">
              <!-- Item Starts -->
              <div class="item">
                <!-- Heading -->
                <h4>Mis Casos</h4>
                <!-- Big Number -->
                <h5 class="green"><%=Asformulary.where("lyduser_id = ?", current_lyduser.id).count %></h5>
                <!-- Sub-Title -->
                <span>Total &nbsp;<i class="fa fa-angle-double-up red"></i>&nbsp; <b class="green"><%=Asformulary.count %></b></span>
              </div>
              <!-- Item Ends -->
            </div>
            <div class="col-md-3">
              <!-- Item Starts -->
              <div class="item">
                <!-- Heading -->
                <h4>Mis Casos Abiertos</h4>
                <!-- Big Number -->
                <h5 class="red"><%=Asformulary.where("lyduser_id = ? AND estado = ?", current_lyduser.id, false).count %></h5>
                <!-- Sub-Title -->
                <span>Casos Cerrados &nbsp;<i class="fa fa-angle-double-up green"></i>&nbsp; <b class="green"><%=Asformulary.where("lyduser_id = ? AND estado = ?", current_lyduser.id, true).count %></b></span>
              </div>
              <!-- Item Ends -->
            </div>

            <div class="col-md-2">
              <%= form_tag asformularies_path, :method => 'get', :id => "as_search" do %>
              <div class="item">
              <h4>Buscar Atenci贸n por nombre</h4>
                <%# f.label "Buscar Atenci贸n" %>
                <%= text_field_tag :search, params[:search] %>
                <%= submit_tag "Buscar", :name => nil %>
              </div>

              



<script>
$(document).on("keyup", "#as_search", function(){
       $.get($("#as_search").attr("action"), $("#as_search").serialize(), null, "script");
       return false;
   });


</script>



              <% end %>



            </div>
          </div>
        </div>
</div>


<div class ="row">
<div class="col-md-1">
<%# form_for (@asformulary), url: asformularies_path, method: "get" do |f| %>
  <%# f.submit "Limpiar busqueda", name: "limpiar" %>
<%# end %>

</div>
</div>




<br>

              <div id="asresults">
                <%= render 'search', locals: { post: @results } %>
              </div>

<br>



<%# link_to 'Nuevo Formulario', new_asformulary_path %>
