<p id="notice"><%= notice %></p>
<link href='<%= asset_url("css/bootstrap.min.css") %>' rel="stylesheet" type="text/css">
<link href='<%= asset_url("css/style-273.css") %>' rel="stylesheet">

<h1>Formularios de Atenci贸n Social</h1>

<button onclick="location.href='<%= new_asformulary_path %>'" type="button" class="button button1">Nueva Atenci贸n</button>
<br>
<br>
<br>

<div class="ui-302">

<div class="status-two">
          <div class="row">
            <div class="col-md-3">
              <!-- Item Starts -->
              <div class="item">
                <!-- Heading -->
                <h4>Cantidad de Casos</h4>
                <!-- Big Number -->
                <h5 class="green"><%=Asformulary.where("lyduser_id = ?", current_lyduser.id).count %></h5>
                <!-- Sub-Title -->
                <span>Total &nbsp;<i class="fa fa-angle-double-up red"></i>&nbsp; <b class="green"><%=Asformulary.count %></b></span>
              </div>
              <!-- Item Ends -->
            </div>
            <div class="col-md-3">
              <!-- Item Starts -->
              <div class="item">
                <!-- Heading -->
                <h4>Casos Abiertos</h4>
                <!-- Big Number -->
                <h5 class="red"><%=Asformulary.where("lyduser_id = ? AND estado = ?", current_lyduser.id, false).count %></h5>
                <!-- Sub-Title -->
                <span>Casos Cerrados &nbsp;<i class="fa fa-angle-double-up green"></i>&nbsp; <b class="green"><%=Asformulary.where("lyduser_id = ? AND estado = ?", current_lyduser.id, true).count %></b></span>
              </div>
              <!-- Item Ends -->
            </div>

            <div class="col-md-2">
              <%= form_for (@asformulary), url: asformularies_path, method: "get" do |f| %>
              <div class="item">
              <h4>Buscar Atenci贸n</h4>
                <%# f.label "Buscar Atenci贸n" %>
                <%= f.text_field :rut_atendido %>
                <%= f.submit "Buscar", name: "search" %>
              </div>
              <% end %>

            </div>
          </div>
        </div>
</div>


<div class ="row">
<div class="col-md-1">
<%= form_for (@asformulary), url: asformularies_path, method: "get" do |f| %>
  <%= f.submit "Limpiar busqueda", name: "limpiar" %>
<% end %>

</div>
</div>




<br>

<% if params[:asformulary] && params[:asformulary][:rut_atendido] %>
<% as = Asformulary.where(:rut_atendido => params[:asformulary][:rut_atendido]).order('created_at DESC') %>



<table>
  <thead>
    <tr>
      <th>Rut atendido</th>
      <th>Codigo obra</th>
      <th>Telefono</th>
      <th>Asistente Social</th>
      <th>Nombre trabajador</th>
      <th>Categoria</th>
      <th>Solucion</th>
      <th>Beneficio Asociado</th>
      <th>Estado</th>
      <th>Subcontrato</th>
      <th>Supervisor</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% as.each do |asformulary| %>
      <tr>
        <td><%= asformulary.rut_atendido %></td>
        <td><%= asformulary.codigo_obra %></td>
        <td><%= asformulary.telefono %></td>
        <td><%= asformulary.lyduser.email %></td>
        <td><%= asformulary.nombre_atendido %></td>
        <td><%= asformulary.aspcategory.nombre %></td>
        <td><%= asformulary.solucion %></td>
       <td><%= asformulary.benefit.nombre %></td>
        <td><%= asformulary.estado %></td>
        <td><%= asformulary.subcontrato %></td>
        <td><%= asformulary.nombre_supervisor %></td>
        <td><%= asformulary.descripcion %></td>
        <%if can? :show, Asformulary %>
        <td><%= link_to 'Mostrar', asformulary %></td>
        <%end%>
        <%if can? :edit, Asformulary %>
        <td><%= link_to 'Edit', edit_asformulary_path(asformulary) %></td>
        <%end%>
        <%if can? :destroy, Asformulary %>
        <td><%= link_to 'Destroy', asformulary, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%end%>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>

<br>



<%# link_to 'Nuevo Formulario', new_asformulary_path %>
