<p id="notice"><%= notice %></p>

<h1>Formularios de Atención Social</h1>

<button onclick="location.href='<%= new_asformulary_path %>'" type="button" class="button button1">Nueva Atención</button>
<br>
<br>
<br>
<%= form_for (@asformulary), url: asformularies_path, method: "get" do |f| %>
  <%= f.label "Buscar Atención" %>
  <%= f.text_field :rut_atendido %>
  <%= f.submit "Buscar", name: "search" %>
<% end %>
<%= form_for (@asformulary), url: asformularies_path, method: "get" do |f| %>
  <%= f.submit "Limpiar busqueda", name: "limpiar" %>
<% end %>



<br>

<% if params[:asformulary] && params[:asformulary][:rut_atendido] %>
<% as = Asformulary.where(:rut_atendido => params[:asformulary][:rut_atendido]).order('created_at DESC') %>



<table>
  <thead>
    <tr>
      <th>Rut atendido</th>
      <th>Codigo obra</th>
      <th>Telefono</th>
      <th>Asistente Social</th>
      <th>Nombre atendido</th>
      <th>Apellido paterno</th>
      <th>Apellido materno</th>
      <th>Aspcategory</th>
      <th>Solucion</th>
      <th>Beneficio Asociado</th>
      <th>Estado</th>
      <th>Subcontrato</th>
      <th>Supervisor</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% as.each do |asformulary| %>
      <tr>
        <td><%= asformulary.rut_atendido %></td>
        <td><%= asformulary.codigo_obra %></td>
        <td><%= asformulary.telefono %></td>
        <td><%= asformulary.lyduser.email %></td>
        <td><%= asformulary.nombre_atendido %></td>
        <td><%= asformulary.apellido_paterno %></td>
        <td><%= asformulary.apellido_materno %></td>
        <td><%= asformulary.aspcategory.nombre %></td>
        <td><%= asformulary.solucion %></td>
       <td><%= asformulary.benefit.nombre %></td>
        <td><%= asformulary.estado %></td>
        <td><%= asformulary.subcontrato %></td>
        <td><%= asformulary.nombre_supervisor %></td>
        <td><%= asformulary.descripcion %></td>
        <%if can? :show, Asformulary %>
        <td><%= link_to 'Show', asformulary %></td>
        <%end%>
        <%if can? :edit, Asformulary %>
        <td><%= link_to 'Edit', edit_asformulary_path(asformulary) %></td>
        <%end%>
        <%if can? :destroy, Asformulary %>
        <td><%= link_to 'Destroy', asformulary, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%end%>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>

<br>



<%# link_to 'Nuevo Formulario', new_asformulary_path %>
