<link href='<%= asset_url("css/bootstrap.min.css") %>' rel="stylesheet" type="text/css">
<link href='<%= asset_url("css/font-awesome.min.css") %>' rel="stylesheet">
<link href='<%= asset_url("css/style-55.css") %>' rel="stylesheet">
<link href='<%= asset_url("css2/stylesLD.css") %>' rel="stylesheet" type="text/css">



<div class="container">

      <div class="sidebar1">
        <div align="left">

        <h4>Nuevo Formulario de Atención Social</h4>
        <%= render 'form', asformulary: @asformulary %>
        <%# button_to "Nuevo préstamo", new_loanformulary_path,method: "get", form: {target: '_blank'}, class: "button button1" %>
        
          <%# link_to(image_tag(asset_url("trans.png"), class: 'bg-green-ld'), new_loanformulary_path,  :method => :get) %>

          <div class="ui-37-ld">
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-6 col-mob"> <a href="<%= new_loanformulary_path %>" target="_blank" class="bg-green-ld"> <img src='<%= asset_url("trans.png") %>' alt="" />
            <label class="label-ld">Asignar Préstamos</label>
            </a> </div>
          </div>
        </div>

          

      </div>
    
    <!-- end .sidebar1 --></div>


  <div class="contentForm">
       
    <br>
   
    <div class="ui-55">
        <div class="sidebar" style="position: fixed;"> 
          <!-- Nav tabs -->
          <ul class="list-unstyled">
            <li class="active"><a href="#one" role="tab" data-toggle="tab"><i class="fa fa-desktop"></i> Asistencia Social</a></li>
            <li><a href="#two" role="tab" data-toggle="tab"><i class="fa fa-cogs"></i> Beneficios </a></li>
            <li><a href="#three" role="tab" data-toggle="tab"><i class="fa fa-user"></i> Prestamos </a></li>
            <li><a href="#four" role="tab" data-toggle="tab"><i class="fa fa-cloud"></i> Capacitaciones </a></li>
            <li><a href="#five" role="tab" data-toggle="tab"><i class="fa fa-gift"></i> Remuneraciones </a></li>
          </ul>
        </div>
      <div class="mainbar"> 
        <!-- Tab panes -->

                    <label for="textfield">Resumen Trabajador:
                    <br>
                    <% if params[:asformulary] && params[:asformulary][:rut_atendido] %>
                      <% employee = Employee.where(:rut => params[:asformulary][:rut_atendido]) %>
                      <% if employee.empty? == false %>
                        <% employee.each do |emple| %>
                        <tr>
                          <td><%= emple.nombre %></td>
                          <td><%= emple.rut %></td>
                          <td><%= emple.cencos %></td>
                          <td><%= emple.estado %></td>

                        </tr>
                        <%end%>
                      <% else %>
                        <h4>No se ha encontrado un trabajador asociado a ese RUT</h4>
                      <%end%>
    
                        
                    <%end%>



                  </label> 
                  <br>


        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="one">




                  <table >
                  <thead>
                    <tr>
                      <th width="(100/x)%">Fecha</th>
                      <th width="(100/x)%">Tipo Consulta</th>
                      <th width="(100/x)%">Comentario</th>
                      <th width="(100/x)%">¿Caso Cerrado?</th>
                      <th width="(100/x)%">Obra</th>
                      <th width="(100/x)%">Nº Atencion</th>
                      <th width="(100/x)%">Telefono</th>
                    </tr>
                  </thead>
                    <tbody>
                      <% if params[:asformulary] && params[:asformulary][:rut_atendido] %>
                      <% logas = Loga.where(:rut_atendido => params[:asformulary][:rut_atendido]).order('created_at DESC') %>
                      <% logas.each do |loga| %>
                        <tr>
                          
                          
                          <td><%= loga.created_at %></td>
                          <td><%= loga.aspcategory_name %></td>
                          
                          <td><%= loga.descripcion %></td>
                          <td><%= loga.estado %></td>
                          <td><%= loga.codigo_obra %></td>
                          <td><%= "N/A" %></td>
                          <td><%= loga.telefono %></td>

                        </tr>
                      <% end %>
                      <% end %>
                    </tbody>
                  </table>
            </div>
          <div role="tabpanel" class="tab-pane fade" id="two">
                
          </div>
              <div role="tabpanel" class="tab-pane fade" id="three">
               
                  <table >
                  <thead>
                    <tr>
                      
                      <th width="(100/x)%">Empresa</th>
                      <th width="(100/x)%">Monto Solicitado</th>
                      <th width="(100/x)%">Por pagar</th>
                      <th width="(100/x)%">Motivo</th>
                      <th width="(100/x)%">Estado</th>

                    </tr>
                  </thead>
                    <tbody>
                      <% if params[:asformulary] && params[:asformulary][:rut_atendido] %>
                      <% logloan = Logloan.where(:rut_solicitante => params[:asformulary][:rut_atendido]).order('created_at DESC') %>
                      <% logloan.each do |logl| %>
                        <tr>
                          
                          
                          
                          <td><%= logl.empresa %></td>
                          <td><%= logl.monto_solicitado %></td>
                          <td><%= logl.por_pagar %></td>
                          <td><%= logl.motivo_solicitud %></td>
                          <td><%= logl.estado %></td>
                          

                        </tr>
                      <% end %>
                      <% end %>
                    </tbody>
                  </table>


              </div>
              <div role="tabpanel" class="tab-pane fade" id="four">
                
              </div>
              <div role="tabpanel" class="tab-pane fade" id="five">
                
              </div>
        </div>
      </div>
    </div>
    
    <!-- Javascript files --> 
    <!-- jQuery --> 
    <script src='<%= asset_url("jquery.js") %>'></script> 
    <!-- Bootstrap JS --> 
    <script src='<%= asset_url("bootstrap.min.js") %>'></script> 
    <!-- Placeholder JS --> 
    <script src='<%= asset_url("placeholder.js") %>'></script> 
    <!-- Respond JS for IE8 --> 
    <script src='<%= asset_url("respond.min.js") %>'></script> 
    <!-- HTML5 Support for IE --> 
    <script src='<%= asset_url("html5shiv.js") %>'></script> 
    
    <!-- end .content --></div>

<!-- end .container --></div>
	






<%= link_to 'volver', asformularies_path %>

