


<div class="row">
	
	  <div class="col-md-4">
	  <h3>Nuevo Formulario de Atenci贸n Social</h3>
	  	<%= render 'form', asformulary: @asformulary %>

	  </div>
	  <div class="col-md-8">
		  	<div class="table-responsive">
		  		  <h3>Historial de Atenci贸n Social</h3>

			  <table class="table">
			    <thead>
				    <tr>
				      
				      <th>Asistente Social</th>
				      <th>Obra</th>
				      <th>Rut atendido AS</th>
				      <th>Nombre atendido</th>
				      <th>Apellido Paterno</th>
				      <th>Apellido Materno</th>
				      <th>Descripci贸n</th>
				      <th>Soluci贸n</th>
				    </tr>
				  </thead>

				  <tbody>
				  	<% logas = Loga.where(:rut_atendido => params[:asformulary][:rut_atendido]) %>
				    <% logas.each do |loga| %>
				      <tr>
				        
				        <td><%= loga.user_name %></td>
				        <td><%= loga.codigo_obra %></td>
				        <td><%= loga.rut_atendido %></td>
				        <td><%= loga.nombre_atendido %></td>
				        <td><%= loga.apellido_paterno_atendido %></td>
				        <td><%= loga.apellido_materno_atendido %></td>
				        <td><%= loga.descripcion %></td>
				        <td><%= loga.solucion %></td>
				      </tr>
				    <% end %>
				  </tbody>
			  </table>
			</div>
	  </div>



</div>

<%= link_to 'volver', asformularies_path %>
