<p id="notice"><%= notice %></p>
<link href='<%= asset_url("css/bootstrap.min.css") %>' rel="stylesheet" type="text/css">
<link href='<%= asset_url("css2/stylesLD.css") %>' rel="stylesheet" type="text/css">


<div class="container">

  <div class="content">
    
    <div style="box-shadow:0px 0px 15px rgba(0,0,0,0.1);">

    <h1>Áreas Atención Social</h1>

      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Estado</th>
          </tr>
        </thead>

        <tbody>
          <% @aspcategories.each do |aspcategory| %>
            <tr>
              <td><%= aspcategory.nombre %></td>
              <%if aspcategory.is_active  %>
                <td> Activo </td>
                <%else %>
                <td> No activo</td>
                <%end %>
              <% if current_lyduser.admin_role? %>
              <td><%= link_to 'Mostrar', aspcategory %></td>
              <td><%= link_to 'Actualizar', edit_aspcategory_path(aspcategory) %></td>
              <td><%= link_to 'Eliminar', aspcategory, method: :delete, data: { confirm: 'Está seguro?' } %>
              <td><%= link_to 'Activar/desactivar', is_active_aspcategory_path(aspcategory) %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%# link_to 'New Aspcategory', new_aspcategory_path %>
      <button onclick="location.href='<%= new_aspcategory_path %>'" type="button" class="btn btn-green btn-lg btn-block">Crear Nueva Área</button>



    </div>
  </div>
</div>


