<p id="notice"><%= notice %></p>

<h1>Historial de beneficios asignados</h1>

<table>
  <thead>
    <tr>
      <th>Benefit</th>
      <th>Rut trabajador</th>
      <th>Rut beneficiario</th>
      <th>Relacion</th>
      <th>Fecha nacimiento</th>
      <th>Obra</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignbenefits.each do |assignbenefit| %>
      <tr>
        <td><%= assignbenefit.benefit.nombre %></td>
        <td><%= assignbenefit.rut_trabajador %></td>
        <td><%= assignbenefit.rut_beneficiario %></td>
        <td><%= assignbenefit.relacion %></td>
        <td><%= assignbenefit.fecha_nacimiento %></td>
        <td><%= assignbenefit.obra.nombre %></td>
        <td><%= link_to 'Show', assignbenefit %></td>
        <td><%= link_to 'Edit', edit_assignbenefit_path(assignbenefit) %></td>
        <td><%= link_to 'Destroy', assignbenefit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assignbenefit', new_assignbenefit_path %>
