<link href='<%= asset_url("css/bootstrap.min.css") %>' rel="stylesheet" type="text/css">
<link href='<%= asset_url("css/font-awesome.min.css") %>' rel="stylesheet">
<link href='<%= asset_url("css/style-55.css") %>' rel="stylesheet">
<link href='<%= asset_url("css2/stylesLD.css") %>' rel="stylesheet" type="text/css">


<h1>Asignar beneficios</h1>

<div class="container">

      <div class="sidebar1">
        <div align="left">
        	<%= render 'form', assignbenefit: @assignbenefit %>
        </div>

       </div>


       <div class="contentForm">
			<div align="center">
  			<table >

        <%if params[:nombre_solicitante] %>
               <%= params[:nombre_solicitante] %>
               <%end  %>

           <tr>
            <th width="(100/x)%">Beneficio</th>
            <th width="(100/x)%">Rut Trabajador</th>
            <th width="(100/x)%">Rut Beneficiario</th>
            <th width="(100/x)%">Relación</th>
            <th width="(100/x)%">F.Nacimiento</th>
            <th width="(100/x)%">Fecha</th>
            <th width="(100/x)%">CentroCosto</th>
           </tr>
           <tbody>
             
               <% if params[:assignbenefit] && params[:assignbenefit][:rut_trabajador] %>
               <% assign = Assignbenefit.where(:rut_trabajador => params[:assignbenefit][:rut_trabajador]).order('created_at DESC').take(20) %>



               <% assign.each do |loga| %>
                        <tr>
                          
                          <td><%= loga.benefit.nombre %></td>
                          <td><%= loga.rut_trabajador %></td>
                          <td><%= loga.rut_beneficiario %></td>
                          <td><%= loga.relacion %></td>
                          <td><%= loga.fecha_nacimiento.strftime("%d %b %y") %></td>

                          <td><%= loga.created_at.strftime("%d %b %y") %></td>
                          
                          <td><%= loga.obra_id %></td>
                          

                        </tr>
                     
                      <% end %>



               <% end %>

           </tbody>
        </table>


			</div>
	   </div>


</div>




<%= link_to 'Back', assignbenefits_path %>
