<p id="notice"><%= notice %></p>

<div class="container">

  <div class="content">
    
    <div style="box-shadow:0px 0px 15px rgba(0,0,0,0.1);">

<h1>Áreas de Beneficio</h1>

<div align="center">

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @areabenefits.each do |areabenefit| %>
      <tr>
        <td><%= areabenefit.nombre %></td>
        <td><%= link_to 'Show', areabenefit %></td>
        <td><%= link_to 'Edit', edit_areabenefit_path(areabenefit) %></td>
        <td><%= link_to 'Destroy', areabenefit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button onclick="location.href='<%= new_areabenefit_path %>'" type="button" class="btn btn-green btn-lg btn-block">Crear Nueva Área</button>

</div>


</div>
</div>
</div>
