<p id="notice"><%= notice %></p>

<h1>Areabenefits</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @areabenefits.each do |areabenefit| %>
      <tr>
        <td><%= areabenefit.nombre %></td>
        <td><%= link_to 'Show', areabenefit %></td>
        <td><%= link_to 'Edit', edit_areabenefit_path(areabenefit) %></td>
        <td><%= link_to 'Destroy', areabenefit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Areabenefit', new_areabenefit_path %>
