<p id="notice"><%= notice %></p>

<p>
  <strong>Areabeneficio:</strong>
  <%= @logbenefitsfinal.areabeneficio %>
</p>

<p>
  <strong>Nombrebeneficio:</strong>
  <%= @logbenefitsfinal.nombrebeneficio %>
</p>

<p>
  <strong>Costoempresa:</strong>
  <%= @logbenefitsfinal.costoempresa %>
</p>

<p>
  <strong>Costotrabajador:</strong>
  <%= @logbenefitsfinal.costotrabajador %>
</p>

<p>
  <strong>Ruttrabajador:</strong>
  <%= @logbenefitsfinal.ruttrabajador %>
</p>

<p>
  <strong>Nombretrabajador:</strong>
  <%= @logbenefitsfinal.nombretrabajador %>
</p>

<p>
  <strong>Rutbeneficiario:</strong>
  <%= @logbenefitsfinal.rutbeneficiario %>
</p>

<p>
  <strong>Relacion:</strong>
  <%= @logbenefitsfinal.relacion %>
</p>

<p>
  <strong>Nombreobra:</strong>
  <%= @logbenefitsfinal.nombreobra %>
</p>

<p>
  <strong>Asistebeneficio:</strong>
  <%= @logbenefitsfinal.asistebeneficio %>
</p>

<p>
  <strong>Idasignacionbeneficio:</strong>
  <%= @logbenefitsfinal.Idasignacionbeneficio %>
</p>

<%= link_to 'Edit', edit_logbenefitsfinal_path(@logbenefitsfinal) %> |
<%= link_to 'Back', logbenefitsfinals_path %>
