<% if current_lyduser.administrativo_obra_role? || current_lyduser.admin_role%>
<body>

<link href='<%= asset_url("css/bootstrap.min.css") %>' rel="stylesheet" type="text/css">
<link href='<%= asset_url("css/font-awesome.min.css") %>' rel="stylesheet">
<link href='<%= asset_url("css/style-55.css") %>' rel="stylesheet">
<link href='<%= asset_url("css2/stylesLD.css") %>' rel="stylesheet" type="text/css">


<h2>Listado de asistentes </h2>

<%=form_for Benefit.new, url: {controller: "pages", action: "indexBenefitPerName"} do %>

   	<div class="field">
 	<%= collection_select(:benefit, :benefit_id, Benefit.where(is_active: true), :id, :nombre, {:prompt => "Seleccione un beneficio"}, {:class => "Select a Contact", style: "width:220px"}) %>
 	</div>

	<div class="field">
     <%= collection_select(:centrocosto, :centrocosto_id, Obra.all, :id, :nombre_codigo, {:prompt => "Escoger Obra"},{:class => "ccosto_selection", style: "width:220px"}) %>
     </div>


 	<div class="actions">
 	<%= submit_tag 'Listar', :class => 'btn btn-green', style: "width:220px" %>
 	</div>
<% end %>

<h2> Registrar Asistencia </h2>

<%=form_for Benefit.new, url: {controller: "pages", action: "logBeneficiosCheckAsistencia"} do %>

	<div class="field">
 		<%= collection_select(:benefit, :benefit_id, Benefit.where(is_active: true), :id, :nombre, {:prompt => "Seleccione área de beneficio"}, {:class => "contact_selection", style: "width:220px"}) %>
   	</div>

   	<div class="field">
     <%= collection_select(:centrocosto, :centrocosto_id, Obra.all, :id, :nombre_codigo, {:prompt => "Escoger Obra"},{:class => "ccosto_selection", style: "width:220px"}) %>
     </div>


  	<div class="actions">
     	<%= submit_tag 'Registrar', :class => 'btn btn-green', style: "width:220px"  %>
    </div>
    
<% end %>
	
</body>

<% else %>
<br>
<br>

<br>

<h3>Lo sentimos:</h3> 
<h3>No tienes suficientes permisos para realizar esta acción :(</h3>
<br>

<br>

<br>


<% end %>
