
<body>

<h2> Listado de asistentes </h2>

<%=form_for Benefit.new, url: {controller: "pages", action: "indexBenefitPerName"} do %>

   	<div class="field">
 	<%= collection_select(:benefit, :benefit_id, Benefit.all, :id, :nombre, {:prompt => "Select a Contact"}, {:class => "contact_selection"}) %>
 	</div>

 	<div class="actions">
 	<%= submit_tag 'Listar' %>
 	</div>
<% end %>

<h2> Registrar Asistencia </h2>

<%=form_for Benefit.new, url: {controller: "pages", action: "logBeneficiosCheckAsistencia"} do %>

	<div class="field">
 		<%= collection_select(:benefit, :benefit_id, Benefit.all, :id, :nombre, {:prompt => "Select a Contact"}, {:class => "contact_selection"}) %>
   	</div>

  	<div class="actions">
     	<%= submit_tag 'Registrar' %>
    </div>
    
<% end %>
	
</body>
