<h1>Log de Beneficios</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Area</th>
      <th>Costo Trabajador</th>
      <th>Costo Empresa</th>
      <th>Familia</th>
      <th>Asistencia</th>
      <th>Rut Trabajador</th>
      <th>Rut Beneficiario</th>
      <th>Relacion</th>
      <th>Fecha Nacimiento</th>
      <th>Fecha</th>
      <th>Id Obra</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignbenefit.each do |assignbenefit| %>
      <tr>
        <div style="display: none;">
        <%= benefit = Benefit.find(assignbenefit.benefit_id) %>
        <%= areabenefit = Areabenefit.find(benefit.areabenefit_id) %>
        </div>
        <td><%= assignbenefit.benefit_id %></td>
        <td><%= benefit.nombre %></td>
        <td><%= areabenefit.nombre %></td>
        <td><%= benefit.costotrabajador %></td>
        <td><%= benefit.costoempresa %></td>
        <td><%= benefit.familia %></td>
        <td><%= benefit.asistencia %></td>
        <td><%= assignbenefit.rut_trabajador %></td>
        <td><%= assignbenefit.rut_beneficiario %></td>
        <td><%= assignbenefit.relacion %></td>
        <td><%= assignbenefit.fecha_nacimiento %></td>
        <td><%= assignbenefit.created_at %></td>
        <td><%= assignbenefit.obra_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Descargar PDF", page_download_pdf_path(:pdf) %>