<p id="notice"><%= notice %></p>

<h1>Logloans</h1>


<%= link_to('Actualizar Log prestamos', {:action=>'index', :name => "actualizar"}, data: {:confirm=>'¿Está seguro? Esta operación podria tomar algunos minutos.'}) %>

<table>
  <thead>
    <tr>
      <th>Rut solicitante</th>
      <th>Nombre solicitante</th>
      <th>Obra</th>
      <th>Cargo</th>
      <th>Monto solicitado</th>
      <th>Numero cuotas</th>
      <th>Monto pagado</th>
      <th>Por pagar</th>
      <th>Motivo solicitud</th>
      <th>Comentarios</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @logloans.each do |logloan| %>
      <tr>
        <td><%= logloan.rut_solicitante %></td>
        <td><%= logloan.nombre_solicitante %></td>
        <td><%= logloan.obra %></td>
        <td><%= logloan.cargo %></td>
        <td><%= logloan.monto_solicitado %></td>
        <td><%= logloan.numero_cuotas %></td>
        <td><%= logloan.monto_pagado %></td>
        <td><%= logloan.por_pagar %></td>
        <td><%= logloan.motivo_solicitud %></td>
        <td><%= logloan.comentarios %></td>
        <td><%= logloan.estado %></td>
        <td><%= link_to 'Show', logloan %></td>
        <td><%= link_to 'Edit', edit_logloan_path(logloan) %></td>
        <td><%= link_to 'Destroy', logloan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Logloan', new_logloan_path %>
