<!doctype html>
<html>


<body>

<link href='<%= asset_url("css/bootstrap.min.css") %>' rel="stylesheet" type="text/css">
<link href='<%= asset_url("css/font-awesome.min.css") %>' rel="stylesheet">
<link href='<%= asset_url("css/style-37.css") %>' rel="stylesheet">
<link href='<%= asset_url("css2/stylesLD.css") %>' rel="stylesheet" type="text/css">


<div class="container">

  <div class="content">
    <div align="center">
      <div class="ui-37-ld">
          <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-6 col-mob">  <a href="<%= aspcategories_path %>" class="bg-green-ld"> <img src='<%= asset_url("trans.png") %>' alt="" />
                <label class="label-ld">CRUD Áreas de Atención Social</label>
                </a> </div>
            </div>

            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-6 col-mob">  <a href="<%= benefits_path %>" class="bg-green-ld"> <img src='<%= asset_url("trans.png") %>' alt="" />
                <label class="label-ld">CRUD Beneficios</label>
                </a> </div>
            </div>

            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-6 col-mob">  <a href="<%= areabenefits_path %>" class="bg-green-ld"> <img src='<%= asset_url("trans.png") %>' alt="" />
                <label class="label-ld">CRUD Áreas de Beneficios</label>
                </a> </div>
            </div>

            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-6 col-mob">  <a href="<%= familiartrabajadors_path %>" class="bg-green-ld"> <img src='<%= asset_url("trans.png") %>' alt="" />
                <label class="label-ld">CRUD Familiares</label>
                </a> </div>
            </div>

            


      </div>

      <br>
      <br>
      
      <br>
     
      <br>
    </div>
    
    <!-- end .content --></div>
  
  <!-- end .container --></div>

</body>
</html>