<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Documento sin título</title>




</head>

<body>

<link href='<%= asset_url("css/font-awesome.min.css") %>' rel="stylesheet" type="text/css">
<link href='<%= asset_url("css/style-37.css") %>' rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="#">



<div class="container">
  <div class="sidebar2">
    <div align="center">
      <div class="ui-37">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-6 col-mob"> <a href="<%= asformularies_path %>" class="bg-green-ld"> <img src='<%= asset_url("trans.png") %>' alt="" />
            <label class="label-ld">Asistencia Social</label>
            </a> </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-6 col-mob"> <a href="#" class="bg-green-ld"> <img src='<%= asset_url("trans.png") %>' alt="" />
            <label class="label-ld">Beneficios</label>
            </a> </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-6 col-mob"> <a href="<%= loanformularies_path %>" class="bg-green-ld"> <img src='<%= asset_url("trans.png") %>' alt="" />
            <label class="label-ld">Prestamos</label>
            </a> </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-6 col-mob"> <a href="#" class="bg-green-ld"> <img src='<%= asset_url("trans.png") %>' alt="" />
            <label class="label-ld">Capacitaciones</label>
            </a> </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-6 col-mob"> <a href="#" class="bg-green-ld"> <img src='<%= asset_url("trans.png") %>' alt="" />
            <label class="label-ld">Reportes</label>
            </a> </div>
        </div>
      </div>
    </div>
    <!-- end .sidebar1 --></div>
  <div class="content">
    <div align="center">

      <div class="ui-37">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-6 col-mob"> 
           <a href="#" class="bg-black"> <img src='<%= asset_url("trans.png") %>' alt="" />
            <label class="label-ld">Administración CRUDS</label>
            </a> </div>
        </div>
      </div>
    </div>
    
    <!-- end .content --></div>
  
  <!-- end .container --></div>


    <div class="footer">
    <p>Pie de página</p>
    <!-- end .footer --></div>
</body>
</html>
