<% if current_lyduser.admin_role? || current_lyduser.subgerente_personas_role? %>

<body>
<link href='<%= asset_url("css/bootstrap.min.css") %>' rel="stylesheet" type="text/css">
<link href='<%= asset_url("css/font-awesome.min.css") %>' rel="stylesheet" type="text/css">
<link href='<%= asset_url("css/style-34.css") %>' rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="#">
<link href='<%= asset_url("css2/stylesLD.css") %>' rel="stylesheet" type="text/css">

<div class="container">
	<div class="content">
		<div style="box-shadow:0px 0px 15px rgba(0,0,0,0.1);">

			<h3>Reportes por Obra</h3>
			<div class="ui-34"> 
					<%= form_for (@obra), url: ld_reportspannel_path, method: "get" do |f| %>
						<h6>Seleccione una obra</h6>
						<br>
		                <%= f.collection_select :id, Obra.all.order('nombre ASC'), :id, :nombre, include_blank: true %>
		                <br>
		                <h6>Desde: </h6>
  						<%= date_select('event1', 'date', { :discard_day => true}) %>
  						<br>
  						<h6>Hasta: </h6>
  						<%= date_select('event2', 'date', { :discard_day => true}) %>
  						<br>

		                <%# f.label "Buscar Atención" %>
		                <%# f.text_field :rut_atendido %>
		                <%= f.submit "Buscar" %>
		              
	              <% end %>
	              <%= form_for (@obra), url: ld_reportspannel_path, method: "get" do |f| %>
	              <%= f.submit "Limpiar busqueda" %>
	              <%end%>


	              <% if params[:obra] && params[:event1] && params[:event2] %>
			      <%# as = Asformulary.where(:rut_atendido => params[:asformulary][:rut_atendido]).order('created_at DESC') %>
			      <% ob = Obra.find(params[:obra][:id]).codigo %> 
			      <br>
			      <% if params[:event1]["date(2i)"] != "10" && params[:event1]["date(2i)"] != "11" && params[:event1]["date(2i)"] != "12" %>
			      <% fecha1 = params[:event1]["date(1i)"] + "-" + "0" + params[:event1]["date(2i)"] + "-" + "01"%>
			      <% else %>

			      <% fecha1 = params[:event1]["date(1i)"]+ "-" + params[:event1]["date(2i)"]+ "-" + "01" %> 

			      <% end %> 
			      <br>

			      <% if params[:event2]["date(2i)"] != "10" && params[:event2]["date(2i)"] != "11" && params[:event2]["date(2i)"] != "12" %>

			      
			      <% fecha2 =params[:event2]["date(1i)"]+ "-" + "0" + params[:event2]["date(2i)"]+ "-" + "31"%> 
			      <% else %>
			     
			      <% fecha2 =params[:event2]["date(1i)"]+ "-" + params[:event2]["date(2i)"]+ "-" + "31" %> 
			      <% end %>
			      <br>

			     

			      <%end%>
				<br>
  				<br>

  				<ul class="navi">
			      <li class="active"><a href="#one" data-toggle="tab"><i class="fa fa-desktop"></i><span>Atención Trabajadores</span></a></li>
			      <li><a href="#two" data-toggle="tab"><i class="fa fa-user"></i><span>Beneficios</span></a></li>
			      <li></li>
			    </ul>
			    <div class="clearfix"></div>

			    <div class="tab-content">
			    	<div role="tabpanel" class="tab-pane fade in active" id="one">
	        			<h2>Atenciones Sociales por Periodo</h2>

	        			<% if params[:obra] && params[:event1] && params[:event2] %>
	        			<h3><%= Obra.find(params[:obra][:id]).nombre %> - Periodo <%= fecha1 + " a " + fecha2  %> </h3>
	        			<% ob = Obra.find(params[:obra][:id]).codigo %>
	        			<% muestra = Loga.where("codigo_obra = ?",ob).count %>
	        			<% muestrap = Logloan.where("obra = ?", ob).count %>

	        			<%if muestra == 0 %>
	        			<% muestra = 1 %>
	        			<%end %>
	        			<%if muestrap == 0 %>
	        			<% muestrap = 1 %>
	        			<%end %>

	        				<table>
							  <thead>
							    <tr>
							      <th>Área de atención</th>
					              <th>Trabajadores Atendidos</th>
					              <th>% Muestra</th>
					              <th>Total Obra</th>
							      <th colspan="3"></th>
							    </tr>
							  </thead>
							  <tr>
					            <td>Salud</td>
					            <td><%= salud = Loga.where(:created_at => fecha1...fecha2).where("codigo_obra = ?",ob).where("aspcategory_name = ?", "Salud").count %></td>
					            <td><%= (salud*100)/muestra%>%</td>
					            <td><%= saludt = Loga.where("codigo_obra = ?",ob).where("aspcategory_name = ?", "Salud").count %></td>
					          </tr>
					          <tr>
					            <td>Educación</td>
					            <td><%= educacion = Loga.where(:created_at => fecha1...fecha2).where("codigo_obra = ?",ob).where("aspcategory_name = ?", "Educacion").count %></td>
					            <td><%= (educacion*100)/muestra%>%</td>
					            <td><%= educaciont = Loga.where("codigo_obra = ?",ob).where("aspcategory_name = ?", "Educacion").count %></td>
					          </tr>
					          <tr>
					            <td>Familiar</td>
					            <td><%= familiar = Loga.where(:created_at => fecha1...fecha2).where("codigo_obra = ?",ob).where("aspcategory_name = ?", "Familiar").count %></td>
					            <td><%= (familiar*100)/muestra%>%</td>
					            <td><%= familiart = Loga.where("codigo_obra = ?",ob).where("aspcategory_name = ?", "Familiar").count %></td>
					          </tr>
					          <tr>
					            <td>Préstamo</td>
					            <td><%= prestamo = Loanformulary.where(:fecha_aceptado_por_jefe_remuneraciones => fecha1...fecha2).where("obra = ?", ob).count %></td>
					            <td><%= (prestamo*100)/muestrap%>%</td>
					            <td><%= prestamot = Loanformulary.where("obra = ?", ob).count %></td>
					          </tr>
					          <tr>
					            <td>Legal</td>
					            <td><%=legal = Loga.where(:created_at => fecha1...fecha2).where("codigo_obra = ?",ob).where("aspcategory_name = ?", "Legal").count %></td>
					            <td><%= (legal*100)/muestra%>%</td>
					            <td><%=legalt = Loga.where("codigo_obra = ?",ob).where("aspcategory_name = ?", "Legal").count %></td>
					          </tr>
					          <tr>
					            <td>Vivienda</td>
					            <td><%=vivienda = Loga.where(:created_at => fecha1...fecha2).where("codigo_obra = ?",ob).where("aspcategory_name = ?", "Vivienda").count %></td>
					            <td><%= (vivienda*100)/muestra%>%</td>
					            <td><%=viviendat = Loga.where("codigo_obra = ?",ob).where("aspcategory_name = ?", "Vivienda").count %></td>
					          </tr>
					          <tr>
					            <td>Total</td>
					            <td><%= salud + educacion + familiar + prestamo + legal + vivienda%></td>
					            <td></td>
					            <td><%= saludt + educaciont + familiart + prestamot + legalt + viviendat%></td>
					          </tr>


							</table>




	        			<%end%>
        			</div>
        			<div role="tabpanel" class="tab-pane fade" id="two">
        				<h2>Beneficios por Periodo</h2>
        				
        			</div>
        				<div role="tabpanel" class="tab-pane fade" id="three"> </div>
				    	<div role="tabpanel" class="tab-pane fade" id="four"> </div>
				    	<div role="tabpanel" class="tab-pane fade" id="five"> </div>
			    </div>
			</div>



		</div>

		<div style="box-shadow:0px 0px 15px rgba(0,0,0,0.1);">
			<h3>Reportes por Trabajador</h3>
			<div class="ui-34">
				<%= form_for (@asformulary), url: ld_reportspannel_path, method: "get" do |f| %>
              
	              	<h4>Buscar RUT Trabajador</h4>
	                <%# f.label "Buscar Atención" %>
	                <%= f.text_field :rut_atendido %>
	                <%= f.submit "Buscar", name: "search" %>
              	<% end %>

              		<%= form_for (@asformulary), url: ld_reportspannel_path, method: "get" do |f| %>
					  <%= f.submit "Limpiar busqueda" %>
					<% end %>


				<br>
    			<br> 

    			<ul class="navi">
			        <li class="active"><a href="#one1" data-toggle="tab"><i class="fa fa-desktop"></i><span>Atención Trabajadores</span></a></li>
			        <li><a href="#two1" data-toggle="tab"><i class="fa fa-user"></i><span>Beneficios por Trabajador</span></a></li>
			        <li></li>
      			</ul>
     			 <div class="clearfix"></div>

     			 <div class="tab-content">
     			 	<div role="tabpanel" class="tab-pane fade in active" id="one1">
     			 		<h2>Atenciones Sociales del Trabajador</h2>
     			 		<% if params[:asformulary] && params[:asformulary][:rut_atendido] %>
						<% as = Loga.where(:rut_atendido => params[:asformulary][:rut_atendido]).order('created_at DESC') %>
						<table>
						  <thead>
						    <tr>
						      
						      
						      
						      <th>Fecha</th>
						      <th>Nombre trabajador</th>
						      <th>Categoria</th>
						      <th>Solucion</th>
						      
						      
						      <th>¿Subcontrato?</th>
						      <th>Supervisor</th>
						      <th>Descripcion</th>
						      <th>Telefono</th>
						      <th colspan="3"></th>
						    </tr>
						  </thead>

						  <tbody>
						    <% as.each do |asformulary| %>
						      <tr>
						        
						        
						        
						        <td><%= asformulary.created_at %></td>
						        <td><%= asformulary.nombre_atendido %></td>
						        <td><%= asformulary.aspcategory_name %></td>
						        <td><%= asformulary.solucion %></td>
						       
						        <% if asformulary.subcontrato == true %>
						        <td><%="SI"%></td>
						        <% else %>
						        <td><%= "NO"%></td>
						        <%end%>
						        <td><%= asformulary.supervisor %></td>
						        <td><%= asformulary.descripcion %></td>
						        <td><%= asformulary.telefono %></td>

						        </td>
						      </tr>
						    <% end %>
						  </tbody>
						</table>

						<% end %>


     			 	</div>
     			 	<div role="tabpanel" class="tab-pane fade" id="two1">
          				<h2>Beneficios del Trabajador</h2>
          				<% if params[:asformulary] && params[:asformulary][:rut_atendido] %>


          				<table>
						  <thead>
						    <tr>
						      
						      
						      
						      <th>Area Beneficio</th>
						      <th>Beneficio</th>
						      <th>Costo trabajador</th>
						      <th>Costo Empresa</th>
						      
						      
						      <th>Nombre Trabajador</th>
						      <th>Nombre Beneficiario</th>
						      <th>Relación</th>
						      <th>Obra</th>
						      
						    </tr>
						  </thead>

						  <tbody>
						    <% @benefitslog.each do |bl| %>
						      <tr>
						        
						        
						        
						        <td><%= bl.areabeneficio %></td>
						        <td><%= bl.nombrebeneficio %></td>
						        <td><%= bl.costotrabajador %></td>
						        <td><%= bl.costoempresa %></td>    
						        <td><%= bl.nombretrabajador %></td>
						        <td><%= bl.nombrebeneficiario %></td>
						        <td><%= bl.relacion %></td>
						        <td><%= bl.nombreobra %></td>
						        


						        </td>
						      </tr>
						    <% end %>
						  </tbody>
						</table>





          				<% end %>
          				
          			</div>
          			<div role="tabpanel" class="tab-pane fade" id="three"> </div>
			        <div role="tabpanel" class="tab-pane fade" id="four"> </div>
			        <div role="tabpanel" class="tab-pane fade" id="five"> </div>
     			 </div>
			</div> 
		</div>

		<script src='<%= asset_url("jquery.js") %>'></script> 
	    <!-- Bootstrap JS --> 
	    <script src='<%= asset_url("bootstrap.min.js") %>'></script> 
	    <!-- Placeholder JS --> 
	    <script src='<%= asset_url("placeholder.js") %>'></script> 
	    <!-- Respond JS for IE8 --> 
	    <script src='<%= asset_url("respond.min.js") %>'></script> 
	    <!-- HTML5 Support for IE --> 
	    <script src='<%= asset_url("html5shiv.js") %>'></script> 


	</div>
</div>



</body>

<% end %>