<% if current_lyduser.admin_role? %>


<link href='<%= asset_url("css/bootstrap.min.css") %>' rel="stylesheet" type="text/css">
<link href='<%= asset_url("css/font-awesome.min.css") %>' rel="stylesheet">
<link href='<%= asset_url("css/style-55.css") %>' rel="stylesheet">
<link href='<%= asset_url("css/style-273.css") %>' rel="stylesheet">
<link href='<%= asset_url("css2/stylesLD.css") %>' rel="stylesheet" type="text/css">

<h1>Gestion de usuarios</h1>
<br>
<br>

<div class="row">
 <div class="col-md-3">
	
<h5>Registrar Nuevo usuario</h5>

<%= form_for(:ld, url: ld_userspannel_path, method: "get") do |f| %>
  

  <div class="field">
    <%= f.label :nombre_usuario %><br />
    <%= f.text_field :nombre_usuario %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
  <%= f.label :obra, 'Obra' %><br>
  <%= f.collection_select :id, Obra.all.order('id DESC'), :id, :nombre_codigo, {include_blank: true} , {style: "width:180px"} %>
  </div>

  <h6>- - Rol - -</h6>
  <div class="field">
    <%= f.label :asocial_role, 'Asistente Social' %>
    <%= f.radio_button :role, "asocial_role" %>
  </div>

  <div class="field">
    <%= f.label :ao_role, 'Administrador de Obra' %>
    <%= f.radio_button :role, "ao_role" %>
  </div>

  <div class="field">
    <%= f.label :administrativo_obra_role, 'Administrativo de Obra' %>
    <%= f.radio_button :role, "administrativo_obra_role" %>
  </div>

  <div class="field">
    <%= f.label :subgerente_personas_role, 'Subgerente de Personas' %>
    <%= f.radio_button :role, "subgerente_personas_role" %>
  </div>
  <div class="field">
    <%= f.label :jefe_remuneraciones_role, 'Jefe de Remuneraciones' %>
    <%= f.radio_button :role, "jefe_remuneraciones_role" %>
  </div>



  <div class="field">
    <%= f.label :password, 'Contraseña' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, 'Confirmar Contraseña' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

 <i>*Todos los campos son obligatorios</i><br>
 <i>*Las contraseñas deben tener mínimo 6 caracteres</i> <br>
 <i>*Las contraseñas deben coincidir</i> 

  <div class="actions">
    <%= f.submit "Registrar", name: "registrar", :class => 'btn btn-green btn-lg btn-block' %>
  </div>



<% end %>


	</div>

	<div class="col-md-3">
	<h5>Cambiar Contraseña</h5>
	<%= form_for(:ld, url: ld_userspannel_path, method: "get") do |f| %>

		<div class="field">
		  <%= f.label :lyduser, 'Seleccione un usuario' %> <br>
		  <%= f.collection_select :id, Lyduser.all.order('nombre_usuario ASC'), :id, :nombre_usuario, {include_blank: true} , {style: "width:180px"} %>
	  </div>
	  <div class="field">
	    <%= f.label :password, 'Nueva Contraseña' %>
	    <% if @minimum_password_length %>
	    <em>(<%= @minimum_password_length %> characters minimum)</em>
	    <% end %><br />
	    <%= f.password_field :password, autocomplete: "off" %>
  	  </div>

	  <div class="field">
	    <%= f.label :password_confirmation, 'Confirmar Contraseña' %><br />
	    <%= f.password_field :password_confirmation, autocomplete: "off" %>
	  </div>

	   <i>*Las contraseñas deben coincidir</i><br>
	   <i>*Las contraseñas deben tener mínimo 6 caracteres</i> 
 
	  <div class="actions">
    	<%= f.submit "Cambiar Contraseña", name: "cambiarPass", :class => 'btn btn-green btn-lg btn-block' %>
  	  </div>


	 <%end %>

   <h5>Activar/Desactivar Usuario</h5>
  <%= form_for(:ld, url: ld_userspannel_path, method: "get") do |f| %>

  <div class="field">
    <%= f.label :lyduser, 'Seleccione un usuario' %> <br>
    <%= f.collection_select :id, Lyduser.where(admin_role: false).order('nombre_usuario ASC'), :id, :nombre_estado, {include_blank: true} , {style: "width:180px"} %>
  </div>

  <div class="actions">
    <%= f.submit "Activar/Desactivar Usuario", name: "desactivarUsuario", :class => 'btn btn-green btn-lg btn-block' %>
  </div>




  <%end %>





	</div>

	<div class="col-md-3">
	<h5>Asignar Obra</h5>
	<%= form_for(:ld, url: ld_userspannel_path, method: "get") do |f| %>

		<div class="field">
		  <%= f.label :lyduser, 'Seleccione un usuario' %> <br>
		  <%= f.collection_select :u_id, Lyduser.where(is_active: true).where("ao_role = ? || administrativo_obra_role = ?", true, true).order('nombre_usuario ASC'), :id, :nombre_usuario, {include_blank: true} , {style: "width:180px"} %>
	    </div>

	    <div class="field">
		  <%= f.label :obra, 'Obra' %><br>
		  <%= f.collection_select :o_id, Obra.all.order('id DESC'), :id, :nombre_codigo, {include_blank: true}, {style: "width:180px"} %>
		</div>

	  
	  


	   
	  <div class="actions">
    	<%= f.submit "Asignar Obra", name: "cambiarObra", :class => 'btn btn-green btn-lg btn-block' %>
  	  </div>


	 <%end %>



	</div>

</div>

<% else %>
<br>
<br>

<br>

<h3>Lo sentimos:</h3> 
<h3>No tienes suficientes permisos para realizar esta acción :(</h3>
<br>

<br>

<br>


<% end %>