<p id="notice"><%= notice %></p>

<p>
  <strong>Asformulary:</strong>
  <%= @epcformulary.asformulary.id %>
</p>

<p>
  <strong>Rut atendido:</strong>
  <%= @epcformulary.rut_atendido %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @epcformulary.codigo %>
</p>

<p>
  <strong>Nombre pariente:</strong>
  <%= @epcformulary.nombre_pariente %>
</p>

<p>
  <strong>Apellido paterno pariente:</strong>
  <%= @epcformulary.apellido_paterno_pariente %>
</p>

<p>
  <strong>Apellido materno pariente:</strong>
  <%= @epcformulary.apellido_materno_pariente %>
</p>

<p>
  <strong>Rut pariente:</strong>
  <%= @epcformulary.rut_pariente %>
</p>

<p>
  <strong>Parentesco:</strong>
  <%= @epcformulary.parentesco %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @epcformulary.empresa %>
</p>

<p>
  <strong>Codigo obra:</strong>
  <%= @epcformulary.codigo_obra %>
</p>

<p>
  <strong>Comentarios caso:</strong>
  <%= @epcformulary.comentarios_caso %>
</p>

<p>
  <strong>Caso amerita epc:</strong>
  <%= @epcformulary.caso_amerita_epc %>
</p>

<p>
  <strong>Derivar a:</strong>
  <%= @epcformulary.derivar_a %>
</p>

<%= link_to 'Edit', edit_epcformulary_path(@epcformulary) %> |
<%= link_to 'Back', epcformularies_path %>
