<p id="notice"><%= notice %></p>




<p>
  <strong>User name:</strong>
  <%= @loga.user_name %>
</p>

<p>
  <strong>Codigo obra:</strong>
  <%= @loga.codigo_obra %>
</p>

<p>
  <strong>Rut atendido:</strong>
  <%= @loga.rut_atendido %>
</p>

<p>
  <strong>Nombre atendido:</strong>
  <%= @loga.nombre_atendido %>
</p>

<p>
  <strong>Apellido paterno atendido:</strong>
  <%= @loga.apellido_paterno_atendido %>
</p>

<p>
  <strong>Apellido materno atendido:</strong>
  <%= @loga.apellido_materno_atendido %>
</p>

<p>
  <strong>Aspcategory name:</strong>
  <%= @loga.aspcategory_name %>
</p>

<p>
  <strong>Solucion:</strong>
  <%= @loga.solucion %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @loga.estado %>
</p>

<p>
  <strong>Subcontrato:</strong>
  <%= @loga.subcontrato %>
</p>

<p>
  <strong>Supervisor:</strong>
  <%= @loga.supervisor %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @loga.descripcion %>
</p>



<p>
  <strong>Empresa:</strong>
  <%= @loga.empresa %>
</p>


<%= link_to 'Edit', edit_loga_path(@loga) %> |
<%= link_to 'Back', logas_path %>
