<link href='<%= asset_url("css/bootstrap.min.css") %>' rel="stylesheet" type="text/css">
<link href='<%= asset_url("css/font-awesome.min.css") %>' rel="stylesheet">
<link href='<%= asset_url("css/style-273.css") %>' rel="stylesheet">
<link rel="shortcut icon" href="#">
<link href='<%= asset_url("css2/stylesLD.css") %>' rel="stylesheet" type="text/css">

<%= form_with(model: familiartrabajador, local: true) do |form| %>
  <% if familiartrabajador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(familiartrabajador.errors.count, "error") %> prohibited this familiartrabajador from being saved:</h2>

      <ul>
      <% familiartrabajador.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="container">

    <div class="content"> 

      <div class="ui-273">

        <div align="center" style="box-shadow:0px 0px 15px rgba(0,0,0,0.1);">


            <div class="field">
              <%= form.label :rut, "Rut Familiar" %><br>
              <%= form.text_field :rut, id: :familiartrabajador_rut %> <br>
            </div>

            <div class="field">
              <%= form.label :nombre, "Nombre del Familiar" %><br>
              <%= form.text_field :nombre, id: :familiartrabajador_nombre %><br>
            </div>

            <div class="field">
              <%= form.label :relacion %><br>
              <%= form.text_field :relacion, id: :familiartrabajador_relacion %><br>
            </div>

            <div class="field">
              <%= form.label :fechanacimiento %><br>
              <%= form.date_select :fechanacimiento, id: :familiartrabajador_fechanacimiento, start_year: 1900 %><br>
            </div>

            <div class="field">

            <%= form.label :rut_trabajador %>

              <% if params[:rut_trabajador] %>

                <%= form.text_field :rut_trabajador, id: :familiartrabajador_rut_trabajador, value: params[:rut_trabajador], hidden: true %><br>
                <%= params[:rut_trabajador] %>


              <% else %>
                <br>
                <%= form.text_field :rut_trabajador, id: :familiartrabajador_rut_trabajador %><br>


              <% end %>

            </div>

            <div class="actions">
              <%= form.submit "Guardar Familiar", :class => "btn btn-green btn-lg btn-block" %>
            </div>


        </div>
      </div>
    </div>
  </div>



  
<% end %>
