<p id="notice"><%= notice %></p>

<p>
  <strong>Rut:</strong>
  <%= @familiartrabajador.rut %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @familiartrabajador.nombre %>
</p>

<p>
  <strong>Relacion:</strong>
  <%= @familiartrabajador.relacion %>
</p>

<p>
  <strong>Fechanacimiento:</strong>
  <%= @familiartrabajador.fechanacimiento %>
</p>

<p>
  <strong>Rut trabajador:</strong>
  <%= @familiartrabajador.rut_trabajador %>
</p>

<%= link_to 'Edit', edit_familiartrabajador_path(@familiartrabajador) %> |
<%= link_to 'Back', familiartrabajadors_path %>
