<!DOCTYPE html>
<html>
  <head>
    <title>LD</title>
    <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%#stylesheet_link_tag :stylesLD %>
  <%#stylesheet_link_tag :bootstrap %>
  <link href='<%= asset_url("css/bootstrap.min.css") %>' rel="stylesheet" type="text/css">
  <link href='<%= asset_url("css2/stylesLD.css") %>' rel="stylesheet" type="text/css">


    <%# render 'layouts/navbar' %>
    <div class="header"><a href="<%=root_path%>"><img src='<%= asset_url("ldgreen.png") %>' alt="Insertar logotipo aquí" name="Insert_logo" width="150" height="125" id="Insert_logo"/></a>
    
    <h3 style="color:white;">
    <div align="left">
    <% if lyduser_signed_in? %>
    <%="Hola " + current_lyduser.nombre_usuario %>  
    <% end %>

    </div>

    <div align="right">
    <% if lyduser_signed_in? %>
    <%= link_to "Inicio", root_path, style: 'color:#FFFFFF;' %> |
    <% end %>
    <% if lyduser_signed_in? %>
    <%= link_to "Cambio Contraseña", edit_lyduser_registration_path,  style: 'color:#FFFFFF;' %> |
    <% if !lyduser_signed_in? %>
    <%= link_to "Registrarse", new_lyduser_registration_path,  style: 'color:#FFFFFF;' %> |
    <% end %> 
    <% if !lyduser_signed_in? %>
    <%= link_to "Ingresar", new_lyduser_session_path,  style: 'color:#FFFFFF;' %> |
    <% end %>  
    <%= link_to "Salir", destroy_lyduser_session_path, method: :delete,  style: 'color:#FFFFFF;' %>
    <% end %>
    </div>
    </h3>
      
  
    <!-- end .header --></div>
<div class="container">
    <%= yield %>
    </div>
  </body>

<div class="footer">
  <p>© 2017, Sistema Diseñado y Creado por Proyecta Software </p>
  <!-- end .footer --></div>
  
</html>