<!DOCTYPE html>
<html>
<head>
	<title></title>
<head>
<body>

<div id="header"> 
 <img src='<%= asset_url("headerCarta.png")%>'></img>
</div>

	<table border="1">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Area</th>
      <th>Nombre Trabajador</th>
      <th>Beneficiario</th>
      <th>Fecha</th>
      <th>Obra</th>
      <th>¿Asistio?</th>
    </tr>
  </thead>

  <tbody>
    <% @assignbenefit.each do |assignbenefit| %>
      <tr>
        <div style="display: none;">
        <%= benefit = Benefit.find(assignbenefit.benefit_id) %>
        <%= areabenefit = Areabenefit.find(benefit.areabenefit_id) %>
        </div>
        <td><%= benefit.nombre %></td>
        <td><%= areabenefit.nombre %></td>
        
        <div style="display: none;">
        <%= trabajador = Employee.where(rut: assignbenefit.rut_trabajador).order('created_at DESC').take(1) %>
        </div>

        <% trabajador.each do |trab| %>
        <td><%= trab.nombre %></td>
        <% end %>


        <td><%= assignbenefit.rut_beneficiario %></td>



        <td><%= assignbenefit.created_at %></td>
        <td><%= Obra.find(assignbenefit.obra_id).nombre %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div id="footer"> 
  <img src='<%= asset_url("footer.png")%>'>
</img>
</div>
</body>
</html>