<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href='<%= asset_url("css/bootstrap.min.css") %>' rel="stylesheet" type="text/css">
	<link href='<%= asset_url("css/style-34.css") %>' rel="stylesheet" type="text/css">
	<link href='<%= asset_url("css2/stylesLD.css") %>' rel="stylesheet" type="text/css">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<style>
		.table, td, th {
				text-align: center;
		}
	</style>
<head>
<body>

<div id="header">
 <img src='<%= asset_url("headerCarta.png")%>'></img>
</div>

<div class="container">
	<div class="content">
		<div style="box-shadow:0px 0px 15px rgba(0,0,0,0.1);">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-lg-6">
							<h3>Reporte por Obra</h3>
					</div>
				</div>
				<div class="ui-34" style="margin-top: -1%;" id="reporte_por_obra">
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane fade in active" id="one">
									<h2 style="margin-left: -2%;">Atenciones Sociales por Periodo</h2>

									<% if params[:obra] && params[:event1] && params[:event2] %>
											<% fecha1 = params[:event1] %>
											<% fecha2 = params[:event2] %>
											<h3><%= Obra.find(params[:obra]).nombre %> - Periodo <%= fecha1.to_s + " a " + fecha2.to_s  %> </h3>
											<% ob = Obra.find(params[:obra]).codigo %>
											<% muestra = Loga.where("codigo_obra = ?",ob).count %>
											<% muestrap = Loanformulary.where("obra = ?", ob).count %>
											<% muestrapa = Logloan.where("obra = ?", ob).count %>

											<%if muestra == 0 %>
													<% muestra = 1 %>
											<%end %>
											<%if muestrap == 0 %>
													<% muestrap = 1 %>
											<%end %>
											<%if muestrapa == 0 %>
													<% muestrapa = 1 %>
											<%end %>
											<table>
													<thead>
														<tr>
															<th class="col-md-4">Área de atención</th>
															<th class="col-md-4">Trabajadores Atendidos</th>
															<th class="col-md-2">% Muestra</th>
															<th class="col-md-2">Total Obra</th>
															<th colspan="3"></th>
														</tr>
													</thead>
													<tbody>

													<% atencion = Loga.where(codigo_obra: ob).where(:created_at => fecha1...fecha2).group("aspcategory_name") %>
													<% categ = Aspcategory.all %>
															<% benefitscount = Benefit.all  %>
															<%i = 0 %>
															<% asc = Array.new %>
															<% totalas = Array.new %>
															<% sumacat = 0 %>
															<% sumatot = 0 %>

															<% categ.each do |a| %>
																	<%# ins[i] = a.benefit_id %>
																	<% asc[i] = Loga.where(codigo_obra: ob).where(:created_at => fecha1...fecha2).where(aspcategory_name: a.nombre).count %>

																	<%# totalas[i] = Benefit.find(a.benefit_id).costoempresa %>
																	<% i = i+1 %>
															<% end %>

															<%i = 0 %>
															<% categ.each do |a| %>
																	<tr>
																	<td><%= a.nombre %></td>
																	<td><%= asc[i] %></td>
																	<td><%= (asc[i]*100)/muestra %>%</td>
																	<td><%= totalas[i] = Loga.where(codigo_obra: ob).where(aspcategory_name: a.nombre).count %></td>
																	<% sumacat = sumacat + asc[i] %>
																	<% sumatot = sumatot + totalas[i] %>

																	</tr>
																	<% i = i+1 %>
															<%end %>
															<tr>
																	<td>Préstamo En proceso</td>
																	<td><%= prestamop = Loanformulary.where(:created_at => fecha1...fecha2).where("obra = ? && estado = ?", ob, "en proceso").count %></td>
																	<td><%= (prestamop*100)/muestrap%>%</td>
																	<td><%= prestamopt = Loanformulary.where("obra = ? && estado = ?", ob, "en proceso").count %></td>
															</tr>
															<tr>
																	<td>Préstamo Aceptados</td>
																	<td><%= prestamoa = Loanformulary.where(:fecha_aceptado_por_jefe_remuneraciones => fecha1...fecha2).where("obra = ? && estado = ? ", ob, "aceptado").count %></td>
																	<td><%= (prestamoa*100)/muestrapa%>%</td>
																	<td><%= prestamoat = Loanformulary.where("obra = ? && estado = ?", ob, "aceptado").count %></td>
															</tr>
															<tr>
																	<td>Total</td>
																	<td><%= sumacat + prestamop + prestamoa %></td>
																	<td></td>
																	<td><%= sumatot + prestamopt + prestamoat %></td>
															</tr>
													</tbody>
										</table>
								<%end%>
						</div>



						<div role="tabpanel" class="tab-pane fade in active" id="two">
								<h2 style="margin-left: -2%;">Beneficios por Periodo</h2>

								<% if params[:obra] && params[:event1] && params[:event2] %>
										<% fecha1 = params[:event1] %>
										<% fecha2 = params[:event2] %>
										<h3><%= Obra.find(params[:obra]).nombre %> - Periodo <%= fecha1.to_s + " a " + fecha2.to_s  %> </h3>
										<% ob = Obra.find(params[:obra]).codigo %>

										<table>
												<thead>
														<tr>
																<th class="col-md-4">Nombre Beneficio</th>
																<th class="col-md-4">Inscritos</th>
																<th class="col-md-4">Costo Empresa</th>
														</tr>
												</thead>
												<tbody>
														<% asignacion = Assignbenefit.where(obra_id: params[:obra]).where(:created_at => fecha1...fecha2).group("benefit_id") %>
														<% benefitscount = Benefit.all  %>
														<%i = 0 %>
														<%ins = Array.new %>
														<%totale = Array.new %>

														<% #if asignacion.nil? %>
																<% asignacion.each do |a| %>
																		<%# ins[i] = a.benefit_id %>
																		<% ins[i] = Assignbenefit.where(obra_id: params[:obra]).where(:created_at => fecha1...fecha2).where(benefit_id: a.benefit_id).count %>
																		<% totale[i] = Benefit.find(a.benefit_id).costoempresa.to_i %>
																		<% i = i+1 %>
																<% end %>

																<%i = 0 %>
																<% asignacion.each do |a| %>
																		<tr>
																				<td><%= a.benefit.nombre %></td>
																				<td><%= ins[i] %></td>
																				<td>$<%= ins[i]*totale[i].to_i %></td>
																		</tr>
																		<% i = i+1 %>
																<% end %>
														<% #end %>
												</tbody>
										</table>
								<% end %>
						</div>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="footer">
  <img src='<%= asset_url("footer.png")%>'>
</img>
</div>
</body>
</html>
